<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shalom.myapplication">

    <provider
        android:name=".model.datasource.CustomContentProvider"
        android:authorities="com.example.shalom.myapplication"
        android:exported="true" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="First Application"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name=".model.datasource.CustomContentProvider"
            android:authorities="com.example.shalom.myapplication"
            android:exported="true"
            android:grantUriPermissions="true"/>

        <activity android:name=".Controller.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Controller.AddActivity"
            android:theme="@style/Base.Theme.AppCompat.Dialog"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity android:name=".Controller.Login"
            android:theme="@style/Base.Theme.AppCompat.Dialog"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity android:name=".Controller.Register"
            android:theme="@style/Base.Theme.AppCompat.Dialog"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity android:name=".Controller.MainOptions" />
        <activity android:name=".Controller.CreateBusiness"
            android:theme="@style/Base.Theme.AppCompat.Dialog"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
    </application>

</manifest>